
<web-app>
   
    <servlet>
      <servlet-name>myserv</servlet-name>
      <servlet-class>myserv</servlet-class>
    </servlet>    

    <servlet-mapping>
        <servlet-name>myserv</servlet-name>
        <url-pattern>/myserv</url-pattern>
    </servlet-mapping>
    


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>

    

</web-app>
